*{
    background-color: rgb(230, 230, 230);
}


.container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container .title{
    color: brown;
    display: flex;
    justify-content: center;
}

div .Gokyo{
    border-color: black;
    border: 1px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4%;
    font-size: large;
    padding-right: 12%;
}

.refresh {
    background-color: rgb(133, 133, 133);
    width: 150px;
    display: flex;
    justify-content: center;
    border-radius: 30px;
    color: aliceblue;
    height: 10%;
    border: none;
    padding: 15px 32px;
}

